.nav-link {
  font-size: 1.2rem;
}

#card {
  padding: 1.5em .5em .5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 23rem;
  height: 20rem;
  background-color: rgb(219, 231, 250);
}
#img {
  padding: 1.5em .5em .5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  width: 200px;
  height: 150px;
}

#back{
  background-color: rgb(74, 151, 182);
}

.total{
  float: right;
 margin-right: 4rem;
 margin-top: 4rem;
}

#reg-card{
  border-radius: 15px;
}
